# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
.git
.idea
__pycache__
.idea/*
__pycache__/
.idea\
__pycache__\
_windows
_windows/
_windows\
codestyles

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
__pycache__/ober.cpython-36.pyc
__pycache__/ober.cpython-36.pyc
_windows/git.xml
_windows/laf.xml
codestyles/Default.xml
_windows/laf.xml
__pycache__/ober.cpython-36.pyc
_windows/git.xml
codestyles/Default.xml
settings.json
errors.txt
key.json
log.txt
*.ipynb
.idea/mat-mod-monitor.iml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
app/debug.log
.idea/workspace.xml
